{% extends "layout.html" %}

{% block title %}PlantsOnDemand{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="header">Welcome to PlantsOnDemand!</h1>
        <p id="content-text">Embark on your botany journey and evolve into an awesome plant caretaker. Our platform simplifies your plant parenting journey, catering to both novices and experts. Discover the perfect plants for your space using our comprehensive Plant Search, and gain in-depth knowledge about your leafy companions. Monitor your plants' growth, health and care needs with our Plant Diary. Discover more green companions with our tailored Plant Recommendations. Learn plant care through our interactive Plant Simulation exercises. Quick and secure access is at your fingertips with Google sign-in. Join our thriving community today and commence your green journey!</p>
    </div>
{% endblock %}