<!--modified and complete-->
{% extends "layout.html" %}

{% block title %}
Plant Search 2
{% endblock %}

{% block content %}
    <div class="container mt-5"> 
        <h2 class="mb-3"> Plant Search: </h2>
        <form action="/plant_search" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="plant_name" class="form-label"> Plant Name: </label>
                    <input type="text" id="plant_name" name="plant_name" class="form-control" required>
                </div>
                <div>
                    <label for="care_level" class="form-label"> Care Level: </label>
                    <select name="care_level" id="care_level" class="form-select">
                        <option value="N/A">None</option> 
                        <option value="Easy">Easy</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Advanced</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Search" class="btn btn-accent mt-3">
        </form>
        
        <!-- check whether plant name var is defined and not empty -->
        {% if plant_name and care_level %}
        <div class="result mt-5"> 
            <h2> Search Result: </h2>
            <!--<p> You searched for plant: {{ plant_name }} and care_level: {{care_level}} </p>-->
            <!--<p>{{search_results}}</p>-->
            <div class="row">
                {% for plant in search_results%}
                    <!--help create 3 equal width sized columns-->
                    <div class="col-md-4 mb-3">
                        <!--create small plant cards-->
                        <div class="plant-card border p-3" onclick="viewPlantDetails({{ plant.id }})">
                            <h4>{{plant.common_name}}</h4>
                            <p>{{plant.scientific_name[0]}}</p>
                            {%if plant.default_image%} 
                                <img src="{{plant.default_image.original_url}}" alt="{{plant.common_name}} Image" class="img-fluid">
                            {%else%}
                                <p> No image available </p>
                            {%endif%}
                        </div>                        
                    </div>
                {% endfor%}
            </div>
        </div>
        {% endif %}
    </div>
    <script> 
        // when card is clicked view plants -- such a miracle worker!
        function viewPlantDetails(plantId){
            //redirect details to page with plantID
            window.location.href = "/plant_details/" + plantId;
        }

    </script>
{% endblock %}