{% extends "layout.html" %}

{% block title %} Plant Details {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4" style="text-transform: capitalize;">{{ plant.common_name }}</h2>

        <!-- image of the plant -->
        <img src="{{ plant.default_image.original_url }}" alt="{{ plant.common_name }} Image" class="img-thumbnail mx-auto d-block mb-3" style="width: 400px; height: 400px;">

        <!-- brief description of the plant, highlighting its key features and characteristics -->
        <p><strong>Description:</strong> {{ plant.description }}</p>

        <div class="text-center mt-3">
            <!-- Button to toggle the collapsible section -->
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#plantDetails" aria-expanded="false" aria-controls="plantDetails">
                See more...
            </button>
            <!-- "See less" button to hide the collapsible section (hidden by default) -->
            <button type="button" class="btn btn-primary collapse" data-bs-toggle="collapse" data-bs-target="#plantDetails" aria-expanded="false" aria-controls="plantDetails">
                See less...
            </button>
        </div>

        <!-- Collapsible Plant Details Section -->
        <div class="collapse mt-3" id="plantDetails">
            <h4>Scientific Name: {{ plant.scientific_name[0] }}</h4>
            <p>Family: {{ plant.family }}</p>
            <p>Origin: {{ plant.origin | join(', ') }}</p>
            <p>Type: {{ plant.plant_type }}</p>
            <p>Dimension: {{ plant.dimension }}</p>
            <p>Cycle: {{ plant.cycle }}</p>
            <p>Watering: {{ plant.watering }}</p>

            <!-- Plant Anatomy -->
            <p>Plant Anatomy:</p>
            <ul>
                {% for part in plant.plant_anatomy %}
                    <li>{{ part.part }}: {{ part.color | join(', ') }}</li>
                {% endfor %}
            </ul>

            <p>Sunlight: {{ plant.sunlight | join(', ') }}</p>
            <p>Pruning Month: {{ plant.pruning_month | join(', ') }}</p>
            <p>Maintenance: {{ plant.maintenance }}</p>
            <p>Care Level: {{ plant.care_level }}</p>
            <!-- Add a nickname input field -->
            <div class="form-group mt-3">
                <label for="nickname">Nickname:</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter nickname for the plant">
            </div>

        </div>
        

        <!-- Add Plant button to add the plant to the database -->
        <div class="text-center mt-3">
            <form action="/add_plant" method="POST">
                plant_id = db.Column(db.Integer, primary_key=True)
                    <input type="hidden" name="plant_id" value="{{plant.id}}">
                    <input type="hidden" name="common_name" value="{{ plant.common_name }}">
                    <input type="hidden" name="common_name" value="{{ nickname }}">
                    <input type="hidden" name="scientific_name" value="{{ plant.scientific_name[0] }}">
                    <input type="hidden" name="other_names" value="{{ plant.other_names }}">
                    <input type="hidden" name="family" value="{{ plant.family }}">
                    <input type="hidden" name="origin" value="{{ plant.origin }}">
                    <input type="hidden" name="plant_type" value="{{ plant.plant_type }}">
                    <input type="hidden" name="dimension" value="{{ plant.dimension }}">
                    <input type="hidden" name="dimensions" value="{{ plant.dimensions }}">
                    <input type="hidden" name="cycle" value="{{ plant.cycle }}">
                    <input type="hidden" name="watering" value="{{ plant.watering }}">
                    <input type="hidden" name="depth_water_requirement" value="{{ plant.depth_water_requirement }}">
                    <input type="hidden" name="volume_water_requirement" value="{{ plant.volume_water_requirement }}">
                    <input type="hidden" name="watering_period" value="{{ plant.watering_period }}">
                    <input type="hidden" name="watering_general_benchmark" value="{{ plant.watering_general_benchmark }}">
                    <input type="hidden" name="default_image_url" value="{{ plant.default_image_url }}">
                    <input type="hidden" name="propagation" value="{{ plant.propagation }}">
                    <input type="hidden" name="maintenance" value="{{ plant.maintenance }}">
                    <input type="hidden" name="care_level" value="{{ plant.care_level }}">
                    <input type="hidden" name="care_guides" value="{{ plant.care_guides }}">
                    <input type="hidden" name="pruning_month" value="{{ plant.pruning_month }}">
                    <input type="hidden" name="pruning_count" value="{{ plant.pruning_count }}">
                    <input type="hidden" name="seeds" value="{{ plant.seeds }}">
                    <input type="hidden" name="flowering_season" value="{{ plant.flowering_season }}">
                    <input type="hidden" name="flowering_color" value="{{ plant.flowering_color }}">
                    <input type="hidden" name="cones" value="{{ plant.cones }}">
                    <input type="hidden" name="fruits" value="{{ plant.fruits }}">
                    <input type="hidden" name="edible_fruit" value="{{ plant.edible_fruit }}">
                    <input type="hidden" name="edible_leaf" value="{{ plant.edible_leaf }}">
                    <input type="hidden" name="medicinal" value="{{ plant.medicinal }}">
                    <input type="hidden" name="poisonous_to_humans" value="{{ plant.poisonous_to_humans }}">
                    <input type="hidden" name="poisonous_to_pets" value="{{ plant.poisonous_to_pets }}">
                    <input type="hidden" name="description" value="{{ plant.description }}">
                    <input type="hidden" name="hardiness_min" value="{{ plant.hardiness_min }}">
                    <input type="hidden" name="hardiness_max" value="{{ plant.hardiness_max }}">
                    <input type="hidden" name="hardiness_map" value="{{ plant.hardiness_map }}">
                    <input type="hidden" name="soil" value="{{ plant.soil }}">
                <button type="submit" class="btn btn-primary mt-3">Add Plant</button>
            </form>
        </div>
        
    </div>
{% endblock %}
