<!-- user_profile.html -->
{% extends "layout.html" %}

{%block title%} User Profile {%endblock%}
{% block content %}
    <div class="profile-section text-center">
        <div class="profile-picture-container rounded-circle">
            <img class="profile-picture img-fluid" src="{{ user.picture }}" alt="Profile Picture">
        </div>
        <h4 class="welcome-message">Hi, {{ user.name }}!</h4>
    </div>
    <div class="user-info">
        <h4>User Information</h4>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <div>
        <!--Probably add margins to top and bottom so that the page layout isn't cluttered but well spaced-->
        <h4>Account Settings</h4>
            <!-- Add form fields for updating account settings here -->
            <!--You need to complete server-side for this-->
            <div class="col-md-6">
                <label for="name" class="form-label"><strong>Name:</strong></label>
                <input type="text" id="name" name="name" value="{{ user.name }}" class="form-control">
            </div>
            
            <div class="col-md-6">
                <label for="email" class="form-label"><strong>Email:</strong></label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" disabled>
            </div>

            <div class="col-md-12">
                <label for="profile_picture" class="form-label"><strong>Profile Picture URL:</strong></label>
                <input type="text" id="profile_picture" name="profile_picture" value="{{ user.picture }}" class="form-control">
            </div>
    </div>
{% endblock %}