{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Profile</h2>
        <!-- Display user-specific information here -->
        <h3>Welcome, {{ session['name'] }}!</h3>

        <!-- Display user's saved plants -->
        <h4>Saved Plants:</h4>
        <div class="row" id="saved_plants">
            <!-- Loop through the user's saved plant IDs and display each item -->
            {% for plant_id in session['saved_plants'] %}
                
                {{plant_id}}
        
            {% endfor %}
        </div>
    </div>
{% endblock %}
